<!DOCTYPE html>
<html ng-app="dropdownApp">
    <head>
        <meta charset="utf-8" />
        <title>Angular|Bootstrap - Popover</title>
        <link rel="stylesheet" href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
        <script src="js/dropdown-controller.js"></script>
    </head>

  <body class="container" ng-controller="dropdownController as vm">
    <h2>Angular|Bootstrap - Popover</h2>
    <hr>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#angular" aria-controls="angular" role="tab" data-toggle="tab">Angular Directive</a>
        </li>
        <li role="presentation">
            <a href="#bootstrap" aria-controls="bootstrap" role="tab" data-toggle="tab">Bootstrap Component</a>
        </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="bootstrap">
            <p id="spinner" style="margin-left: 70px;"><i class="fa fa-spinner fa-spin"></i></p>
            <div class="btn-pop">
                <button type="button" class="btn btn-default btn-popover" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true"
                data-content='
                <p class="spinner" style="margin-left: 100px; margin-top: 22px;"><i class="fa fa-spinner fa-spin"></i></p>            
                <div class="pop-content">
                    <h4>Room 1:</h4>
                    <ul>
                        <li id="adult">
                            <h5><span id="adult-count"></span> <span id="adult-name"></span>
                                <small class="text-muted"> Above <span id="adult-age"></span> years</small>
                                <button id="1" class="btn btn-default btn-sm pull-right btn-inc-adult" onclick="increaseCount(this.id)">+</button>
                                <button id="1" class="btn btn-default btn-sm pull-right btn-dec-adult" onclick="decreaseCount(this.id)">-</button>
                            </h5>
                            <hr class="seperator">
                        </li>
                        <li id="child">
                            <h5><span id="child-count"></span> <span id="child-name"></span>
                                <small class="text-muted"> Below <span id="child-age"></span> years</small>
                                <button id="2" class="btn btn-default btn-sm pull-right btn-inc-child" onclick="increaseCount(this.id)">+</button>
                                <button id="2" class="btn btn-default btn-sm pull-right btn-dec-child" onclick="decreaseCount(this.id)">-</button>
                            </h5>
                            <hr class="seperator">
                        </li>
                    </ul>
                    <button class="btn btn-success btn-sm pull-right">Done</button>
                    <button class="btn btn-primary btn-sm pull-left">Add Room</button>
                </div>
                '
                >
                    <span id="total-people"></span> in <span id="total-room"></span>
                </button>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="angular">
            <a popover
            type="button"
            class="btn btn-default"
            data-toggle="popover"
            data-placement="bottom"
            data-html="true">
                {{vm.totalPeople}} People<span ng-show="vm.totalPeople > 1">s</span> in {{vm.totalRoom}} Room<span ng-show="vm.totalRoom > 1">s</span>
            </a>

            <div class="sum-section">
                <h2>Sum</h2>
                <hr>

                <div class="row">
                    <div class="col-sm-6">
                        <input class="form-control" type="number" placeholder="Cost $" ng-model="vm.cost" ng-change="vm.calculate()" />
                        <br />
                        <input class="form-control" type="number" placeholder="Tax %" ng-model="vm.taxRate" ng-change="vm.calculate()" />
                        <br />
                        <input class="form-control" type="number" placeholder="Tax $" ng-model="vm.taxAmount" disabled />
                        <br />
                        <input class="form-control" type="number" placeholder="Total Cost $" ng-value="vm.totalCost" disabled />  
                        <span>Tax Amount: {{vm.taxAmount}}, Total Cost: {{vm.totalCost}}</span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <!-- JavaScript -->
    <script type="text/ng-template" id="popover-content">
        <div class="">
            <h4>Room 1:</h4>
            <ul>
                <li ng-repeat="option in vm.options">
                    <h5>{{option.count}} {{option.name}}<span ng-show="option.count > 1">s</span>
                        <small class="text-muted"> {{option.name == "Adult" ? "Above" : "Below"}} {{option.age}} years</small>
                        <button class="btn btn-default btn-sm pull-right" ng-click="vm.increaseCount(option.id)">+</button>
                        <button class="btn btn-default btn-sm pull-right" ng-click="vm.decreaseCount(option.id)" ng-disabled="option.count <= 0">-</button>
                    </h5>
                    <hr class="seperator">
                </li>
            </ul>
        </div>
        <button class="btn btn-success btn-sm pull-right">Done</button>
        <button class="btn btn-primary btn-sm pull-left">Add Room</button>
    </script>

    <script>

        // declaring variables
        var totalRoom = 1;
        var options = [
            {
                id: 1,
                name: "Adult",
                age: "12",
                count: 2
            },
            {
                id: 2,
                name: "Child",
                age: "12",
                count: 1
            }
        ]

        totalPeople = countTotalPeople();
        
        // total people count
        function countTotalPeople () {
            var count = 0;

            for (i = 0; i < options.length; i++) {
                count = count + options[i].count;
            }
            return count;
        }

        // increase count by id
        increaseCount = function (id) {
            options[id-1].count++;
            totalPeople++;
            RenderHtml();
        }

        // decrease count by id
        decreaseCount = function (id) {
            options[id-1].count--;
            totalPeople--;
            RenderHtml();
        }

        // loading
        $('.btn-popover').hide();
        $('#spinner').show();

        // initial rendering
        setTimeout(() => {
            RenderHtml();
            $('.btn-popover').show();            
            $('#spinner').hide();
        }, 4000);

        $('.btn-pop').on('click', function() {
            $('.pop-content').hide();
            $('.spinner').show();
            setTimeout(() => {
                RenderHtml();            
                $('.pop-content').show();            
                $('.spinner').hide();
            }, 1000);
        })

        function RenderHtml() {
            // html elements that needs to render
            var $adultCount = $('#adult-count');
            var $adultName = $('#adult-name');
            var $adultAge = $('#adult-age');
            var $childCount = $('#child-count');        
            var $childName = $('#child-name');
            var $childAge = $('#child-age');
            
            var $totalPeople = $('#total-people');
            var $totalRoom = $('#total-room');

            $adultCount.html(options[0].count);
            $adultName.html(options[0].count > 1 ? options[0].name + "s" : options[0].name);
            $adultAge.html(options[0].age);

            $childCount.html(options[1].count);
            $childName.html(options[1].count > 1 ? options[1].name + "s" : options[1].name);
            $childAge.html(options[1].age);

            $totalPeople.html(totalPeople > 1 ? totalPeople + " Peoples" : totalPeople + " People");
            $totalRoom.html(totalRoom > 1 ? totalRoom + " Rooms" : totalRoom + " Room");

            // disable [-] button after count less than 1
            if(options[0].count < 1) {
                $('.btn-dec-adult').attr("disabled", "disabled");
            } else {
                $('.btn-dec-adult').removeAttr("disabled");
            }

            if(options[1].count < 1) {
                $('.btn-dec-child').attr("disabled", "disabled");
            } else {
                $('.btn-dec-child').removeAttr("disabled");                
            }
        }
            

        // Enabling popover - not required for angular directives
        $(function () {
            $('[data-toggle="popover"]').popover()
        })

    </script>
  </body>

</html>
